body{
    background-image: url('images/minnie-mouse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
* {box-sizing: border-box}

/* media query */
@media screen and (max-width: 600px) {
  .query {
    background-color: olive;
    color: white;
    
    }
    
      p{
  display: none;
}
   	
  }
/* about page */
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.paragraph{
margin-left: 550px;
font-size: 30px;
}
.html {width: 79.9%; background-color: #04AA6D;}
.css {width: 89%; background-color: #2196F3;}
.js {width: 30%; background-color: #f44336;}


*, *:before, *:after {
  box-sizing: inherit;
}

/* .column {
  
  width: 55%;

  padding-left: 400px;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  text-align: center;
  color: white;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(204, 55, 172);
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 10px 12px 8px 18px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  /* Same as the width of the sidenav */
  margin-left: 160px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.header {
  font-size: 30px;
  color:black;
  text-align: center;
} 
p {
  margin-left: 25%;
  width: 60%;
  color:black;
  
}

.home {
  float: left;
  padding-left: 550px; 
  padding-top: 200px;
}
.about{
  padding-left: 250px;
}
.text{
  text-align: center;
color:black;
font-style: italic;
font-size: 35px;
    }
   * {
      box-sizing: border-box;
    }
    
    /* Style inputs */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }  
    
   fieldset{
     color: white;
    width: max-content;
   }
   form {
     padding-left: 300px;
   }
   label{
     font-weight:bold;
     color: grey;
   }

   /* testimonial page */
   .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:40px;
   
  }
  /* .flip{
   
  } */
  .flip-card {
    text-align: center;
    background-color: transparent;
    flex-direction: row , row-reverse ,column , column-reverse;
    width: 350px;
    height: 500px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 20%;
  }
  
  .flip-card-back {
    background-color: hotpink;
    color: white;
    border-radius: 20%;
    transform: rotateY(180deg);
    padding: 20px;
  }
  img{
      border-radius: 20%;
  }

  .two{
    margin-top: 80px
  
  }

  .flip{
    margin-left: 200px;
  }